html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.dropzoneShow {
  text-align: center;

  padding: 20px;
  border: 3px dashed #eeeeee;
  background-color: #fafafa;
  color: #bdbdbd;
  height: 70vh;

  margin-bottom: 20px;
}

.dropzone {
  width: 100%;
  height: 100%;
  position: absolute;
  padding:10px;
  top: 0;
  left: 0;
  text-align: center;
  cursor: default !important;
  z-index: -100; /* Just to keep it at the very top */
}

.aboveDom{
  z-index: 100;
}

.dropzoneIn {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: default !important;
}

._title1 {
  text-align: center;
  padding: 10px;
}

.dropzoneReject {
  border: 2px dashed rgb(255, 0, 0);
  background:rgba(201, 119, 119, 0.5); 
}.dropzoneAccept {
  border: 2px dashed rgb(21, 255, 0);
  background:rgba(157, 209, 98, 0.5); 
}


.label_pcap {
  height: 3rem;
  font-size: 1rem;
  color: black;
  vertical-align: middle;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 0px;
  text-align:center;
  border: dotted 3px rgb(0, 0, 0);
}